.preferences-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.preferences-set__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.preferences-set__container {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-bgcolor;
  margin-bottom: 30px;
  border-radius: 4px;
}

.preferences-set__title {
  margin-bottom: 10px;

  text-transform: uppercase;
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.preferences-set__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
