.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  font-weight: 500;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $active-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    .contacts__item:first-child > & {
      padding-top: 20px;
    }

    .contacts__item:last-child > & {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;

    .contacts__item:first-child > & {
      padding-bottom: 32px;
      padding-top: 32px;
    }

    .contacts__item:last-child > & {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.contacts__icon {
  display: inline-block;

  fill: currentColor;
  vertical-align: middle;

  &:hover,
  &:focus {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
