.subscribe-form__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribe-form__title {
  margin-bottom: 20px;

  color: $primary-bgcolor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.subscribe-form__input {
  min-height: 50px;
  padding: 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;

  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
}
