.section-title {
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: $primary-bgcolor;
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;
}
