@mixin section-padding($padding-top, $padding-bottom) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

.section {
  @include section-padding(0, 94px);

  @media screen and (max-width: 1199px) {
    &--preferences,
    &--portfolio,
    &--clients,
    &--team {
      @include section-padding(60px, 60px);
    }
  }

  @media screen and (min-width: 1200px) {
    &--preferences,
    &--portfolio,
    &--clients,
    &--team {
      @include section-padding(94px, 94px);
    }
  }

  &--team {
    background-color: $secondary-bgcolor;
  }

  &--work {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.section--hero {
  margin: 0 auto;

  text-align: center;
  background-color: $bg-hero;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/phone/hero_bg_phone.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/phone/hero_bg_phone-2x.jpg');
    }
  }

  @media screen and (max-width: 1199px) {
    @include section-padding(118px, 118px);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/tablet/hero_bg_tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/tablet/hero_bg_tablet-2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    @include section-padding(200px, 200px);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/hero_bg.jpg');
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ddpx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../img/hero_bg-2x.jpg');
    }
  }
}
