// Цвет основного текста - #757575;
// Цвет вторичного текста - #212121;
// Цвет основного фона (и логотип-футер, текст кнопок, заголовок героя)  - #FFFFFF;
// Цвет вторичного фона - #F5F4FA;
// Цвет активных елементов - #2196F3;
// Черный цвет (логотип) - #000000;
// Цвет фона герой, футер - #2f303a;
// Цвет фона кнопок Portfolio - #f5f4fa;
// Цвет номера телефона, почты футер - rgba(255, 255, 255, 0.6);
// Цвет бордера портфолио кардс - #eeeeee;
// Цвет бордера хедера - #ECECEC;
// Цвет фона героя - #C4C4C4;
// Цвет иконок клиентов - #AFB1B8;
// Цвет фона иконок футер - rgba(255, 255, 255, 0.1);
// Фон кнопки героя hover - #188CE8;
// Цвет текста оверлея - rgba(255, 255, 255, 1);

$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-bgcolor: #ffffff;
$secondary-bgcolor: #f5f4fa;
$active-color: #2196f3;
$black-color: #000000;
$bgc-hero-footer: #2f303a;
$bgc-button-portfolio: #f5f4fa;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$portfolio-cards-border: #eeeeee;
$border-header: #ececec;
$bg-hero: #c4c4c4;
$clients-icon-color: #afb1b8;
$footer-icon-bg: rgba(255, 255, 255, 0.1);
$button-hover-bg: #188ce8;
$overlay-text-color: rgba(255, 255, 255, 1);
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
